* {
    margin: 0;
    padding: 0;
}
div.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar a{
    display: block;
    color: white;
    margin: 0 auto;
    padding: 25px;
}
button{
    width: 150px;
    height: 50px;
    background-color: #FFF974;
    border-color: rgb(234, 179, 106);
    color: #ff8901;
    align-items: center;
    justify-content: center;
}


.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    position: relative;
    width: 30%;
    padding: 1%; 
}

.heroContent {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.content{
    font-size: 48px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    width: 50%;
    margin-left: 100px;
    margin-right: 100px; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    
}
.content p1{
    font-size: 25px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    width: 50%;
    margin-left: 100px;
    margin-right: 100px; 
    display: float;
    flex-wrap: wrap; 
}

.content .profilePic{
    display: inline-block;
    align-items: center;
}
.profilePic {
    width: 200px;
    background-color: #FFF974;
    margin: 0 auto; 
    padding: 15px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

div.aboutMe.moreAboutMe {
    display: block;
}

.aboutMe {
    font-size: 25px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    background-color: #e3a96684;
    padding: 30px;
    display: block;
    align-items: left;
    justify-content: left;
}

.aboutMe p {
    padding-left: 25px;
}

div.mySkills {
    font-size: 20px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.flexContainer {
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.myWork { 
    display: grid;
    grid-template-columns: 33.3%, 33.3%, 33.3%;
}

.userEmpathy{ 
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    width: 33%;
    border: 5px solid brown;
    background-color: #e3a96684;
    padding: 15px;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.interview{
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    width: 33%;
    border: 5px solid brown;
    background-color: #e3a96684;
    padding: 15px;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.userResearch{
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    width: 33%;
    border: 5px solid brown;
    background-color: #e3a96684;
    padding: 15px;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.mySkills .tools {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    word-spacing: 15px;
    padding: 15px;
}

h1 {
    padding: 25px;
    margin-left: 10px;
}
p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.helpHandsContent{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.deptOfEdContent{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.deptOfEdContent{
    position: relative;
    text-align: center;
    color: white;
}
.portlandUrbanContent{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.workGrid {
    display: grid;
    grid-area: "workGrid";
    margin: 0 auto;
    padding: 30px;
}

.myWork {
    font-size: 20px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    border-top: 5px solid brown;
    display: grid;
    grid-template-areas: 
    "workGrid workGrid workGrid";
    align-items: center;
    justify-content: center;

}

footer{
    background-color: #E3A966;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

footer ul {
    display: inline-block;
    align-items: center;
    flex: wrap;
    width: 100%; 
    padding: 15px;
}
footer ul:hover {
    color: brown;
}
button:hover {
    background-color: #ff8901;
    color: white;
}


@media only screen and (max-width: 1024px) {
    .flexContainer {
        display: column;
        background-color: red;
    }
   
  }


