* {
    margin: 0;
    padding: 0;
}
div.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #FC961F;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar a{
    display: block;
    color: white;
    margin: 0 auto;
    padding: 25px;
}
button{
    width: 150px;
    height: 50px;
    background-color: #FFF974;
    border-color: rgb(234, 179, 106);
    color: #ff8901;
    align-items: center;
    justify-content: center;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    width: 30%;
    padding: 1%; 
}

.heroContent {
    
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.content{
    font-size: 48px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    width: 50%;
    margin-left: 100px;
    margin-right: 100px; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    
}
.content p1{
    font-size: 25px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    width: 50%;
    margin-left: 100px;
    margin-right: 100px; 
    display: float;
    flex-wrap: wrap; 
    

}
.content .profilePic{
    display: inline-block;
    align-items: center;
}
.profilePic {
    width: 200px;
    background-color: #FFF974;
    margin: 0 auto; 
    padding: 15px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
div.aboutMe.moreAboutMe {
    display: block;
}
.aboutMe {
    font-size: 25px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    background-color: #e3a96684;
    display: block;
    justify-content: center;
    margin-left: 150px;
    padding: 25px;
}

.moreAboutMe {
    font-size: 20px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;   
}

div.mySkills {
    font-size: 20px;
    font-family: 'Abhaya Libre', serif;
    color: brown;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    margin-left: 175px;   
}



footer{
    background-color: #E3A966;
    padding: 5px;
    display: flex;
    justify-content: center;
} 

.footerMenu {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

footer ul {
    display: inline-block;
    align-items: center;
    flex: wrap;
    width: 100%; 
    padding: 15px;
}





