* {
    margin: 0;
    padding: 0; 
  }
  .sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
  }

  .sidebar .logo {
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 33%;
    
  }
  
  .sidebar a {
    font-family: 'Thasadith', sans-serif;
    color: brown;
    padding: 8px;
    font-size: 24px;
    display: block;
  }
  
  body {
    font-family: 'Abhaya Libre', serif;
    margin-left: 250px;
    font-size: 18px
  }
  
  div.profilePic {
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
  }

  div.content {
    float: left;
    width: 45%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 475px;
    margin:30px;
    margin-right:30px;
    background-color: #FEDE00;
    
  }

  div.profilePic div.content {
    padding-top: 25px;
    text-align: center;
    color: brown;
  }
  .skill {
    width: 100%;
    padding: 2px 16px;
  }

  .flexContainer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .userEmpathyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    width: 33%; 
    padding: 16px;
    text-align: center;
    background-color: rgba(210, 180, 140, 0.429);
  }
  .interviewCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    height: auto;
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px;
    text-align: center;
    background-color: rgba(210, 180, 140, 0.429);
  }

  .userResearchCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    height: auto;
    width: 33%;
    padding: 16px;
    text-align: center;
    background-color: rgba(210, 180, 140, 0.429);
  }
  
  .profilePic .content {
    display: grid;
    align-items: center;

  }
  .learnAbout {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 25px;
    border: 5px solid red;
    width: 100%;
    margin: 0 auto;

  }

  
  .workOne {
    background: url(/images/helpimg.png);
    border-radius: 15px;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .helpHandsContent {
    background-color: tan;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .workTwo {
    background: url(/images/doeimg.png);
    border-radius: 15px;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .deptOfEdContent {
    background-color: tan;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .workThree {
    background: url(/images/beeimg.png);
    border-radius: 15px;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
  }

  .portlandUrbanContent {
    background-color: tan;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
.footerMenu div {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: orange;
    color: brown;
}
   
  button:hover {
    background-color: #ff8901;
    color: white;
}


  


