*{
    margin: 0;
    padding: 0; 
  }

  .logo{
    padding: 15px;
  }
  
  .sidebar{
    height: 100%;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
  }
  .sidebar a{
    font-family: 'Thasadith', sans-serif;
    color: brown;
    padding: 8px;
    font-size: 24px;
    display: block;
  }
  
  body{
    font-family: 'Abhaya Libre', serif;
    margin-left: 250px;
    font-size: 18px
  }
  
  .profilePic{
    display: float;
    float: left;
    height: 500px;
    padding: 25px;
  }

  .heroContent{
      display: inline-block;
      align-items: baseline;
  }

  .heroContent div.content{
    width: 500px;
    margin: 0 auto;
  }


  
  .workOne{
    background: url(/images/helpimg.png);
    border-radius: 15px;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .helpHandsContent{
    background-color: tan;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .workTwo{
    background: url(/images/doeimg.png);
    border-radius: 15px;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .deptOfEdContent{
    border: 5px solid orange;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .workThree{
    background: url(/images/beeimg.png);
    border-radius: 15px;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
  }

  .portlandUrbanContent{
    border: 5px solid orange;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
.footerMenu div{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: orange;
    color: brown;
}
   
  
  
  
  
  button:hover {
    background-color: #ff8901;
    color: white;
}


    @media only screen and (max-width: 1024px) {
    .flexContainer {
        display: column;
        background-color: red;
    }
   
  }


